/** COMPONENTE "PÍLULA" (CONFIGURAÇÃO PRESENTE EM TODAS AS PÍLULAS DAS PÁGINAS) */
.h-pills {
    display: inline-block;
    padding: 10px 20px !important;
    border-radius: 30px;
    background-color: #AA87EB;
    color: #FFFF;
    font-family: 'Poppins', sans-serif, Arial !important;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    cursor: pointer;

    transition: transform 0.4s ease-in-out;
}
.h-pills:hover {
    transform: scale(1.1);
}

.h-pills > i {
    margin-right: 5px;
    margin-left: 5px;
}